@charset "UTF-8";


#love {    
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color:#e7ddda;
    text-align: center;
    
}

#love>#love_title {        
    background-color: #eb7c15;
    color: white;    
    text-align: center;
    height:135px;
    
}
#love_title>h2{
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
#love_title>p{
    margin : 10px;
    font-size: 12px;
    font-weight: bold;
    
}

#line1 {    
    margin-top: 35px;
    margin-bottom: 30px;
   
   height: 4px;
   width: -webkit-fill-available;
   background: #eb7c15;
   
   
}

#love_frm1>#info {
    font-size: 24px;
    margin-bottom: 30px;
}

#love_frm1>.info1{
    display: inline-block;
   text-align: left;     
    font-size: 18px;
    margin-bottom: 20px;
}
#love_frm1>#loveSelect{
   font-size: 18px;
}

#love_frm1>.price {
    margin: 5px;
}

#line2 {
    margin-top: 35px;
    margin-bottom: 30px;
    margin-inline : auto;
   height: 2px;
   width: 400px;
    background: black;

}

#love_frm2>#info {
    font-size: 24px;
    margin-bottom: 30px;
}
#love_frm2>.info1{   
   display: inline-block;
   text-align: left;
   width: 150px;      
    font-size: 18px;
    margin-bottom: 20px;
}
#love_frm2> #name, #phone {
    font-size: 18px;
    margin-bottom: 20px;
}

#pay>#payment {
    font-size: 24px;    
}

#love_btn {
    
    
    margin: 40px;
    padding: 15px;
    width: 250px;
    border-radius: 3px;
    font-size: 20px;
    font-weight:bold;
    height:55px;
    border:0;
    color : #ffffff;
    text-decoration: none;
    background-color: #eb7c15;
    
}
#love_btn:hover {
   cursor:pointer;
   background-color: #eb8925
   
}