@charset "utf-8";

* {
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXONFootballGothicLA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicLA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

#myf_list {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 100%;
}


#myf_list > .title {
    position: relative;
    /* box-sizing: border-box; */
    display: inline-block;
    width: 180px;
    height: 55px;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 20px 50px 20px;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 500ms, border 500ms, transform 500ms;
    cursor: pointer;
	font-family: 'NEXONFootballGothicBA1';
    z-index: 2;
}

#myf_list > #title_1 {
    background-color: lavender;
}

#myf_list > #title_2 {
    background-color: #ECF370;
}

#myf_list > #title_2:hover ~ #titleBox {
    transform: translate(+245px, 0px);
    border: 8px solid #CBCB47;
}

#myf_list > #titleBox {
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 245px;
    height: 115px;
    border-radius: 40px;
    left: calc(50% - 245px);
    top: 30px;
    border: 8px solid aqua;
    transform: translate(0px, 0px);
    transition: background-color 500ms, border 500ms, transform 500ms;
    z-index: 1;
}

/* */

#myf_list > .list table {
    position: relative;
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
    font-size: 15px;
}

#myf_list > .list table thead tr th:nth-child(1) {width: 10%;}
#myf_list > .list table thead tr th:nth-child(2) {width: 45%;}
#myf_list > .list table thead tr th:nth-child(3) {width: 15%;}
#myf_list > .list table thead tr th:nth-child(4) {width: 15%;}
#myf_list > .list table thead tr th:nth-child(5) {width: 10%;}
#myf_list > .list table thead tr th:nth-child(6) {width: 5%;}
#myf_list > .list table thead tr th:nth-child(7) {width: 5%;}

#myf_list > .list table tr td {
    border-bottom: 1px solid aqua;
}

#myf_list > .list table tr th {
    background-color: lightcyan;
    border-top: 5px solid aqua;
    border-bottom: 1px solid aqua;
}

#myf_list > .list table tr:hover {
    background-color: lightcyan;
}

#myf_list > .list table th p {
    font-weight: bolder;
    border-right: 3px solid aqua;
}

#myf_list > .list table th:last-child p {
    border-right: none;
}

#myf_list > .list table tbody .title button {
    display: block;
    cursor: pointer;
    text-align: left;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: Transparent;
}

#myf_list > .list table tbody .title button:hover {
    font-weight: bolder;
}

#myf_list > .list table tbody .title button:focus {
    outline: none;
}

#myf_list > .paging table {
    display: inline-block;
    margin: 20px 0px 50px 0px;
}

#myf_list > .paging table button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    outline: none;
    transition: background-color 1s, color 1s;
}

#myf_list > .paging table .currentPage {
	background-color: lavender;
}

#myf_list > .paging table button:hover {
    background-color: aqua;
}

#myf_list > .paging table button:active {
    background-color: deepskyblue;
}

#myf_list > .btns {
    width: 100%;
    height: 50px;
    text-align: justify;
    margin: 0px 0px 20px 0px;
}

#myf_list > .btns .btn {
    outline: none;
    width: 100px;
    height: 50px;
    line-height: 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border : 0px;
    margin-right : 10px;
    cursor: pointer;
    background-color: lavender;
    transition: background-color 500ms, color 500ms;
}

#myf_list > .btns .search {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 400px;
    right: 0;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
}

#myf_list > .btns .search * {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    font-size: 15px;
    border: 1px solid lavender;
    padding: 0px 10px 0px 10px;
}

#myf_list > .btns .search .category {
    width: 90px;
    left: 0;
    border-radius: 10px;
}

#myf_list > .btns .search .textbox {
    width: 200px;
    height: 100%;
    right: 100px;
    border-radius: 10px 0px 0px 10px;
}

#myf_list > .btns .search .btn {
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    right: 0;
    margin-right : 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: lavender;
    transition: background-color 500ms, color 500ms;
    border: none;
}

#myf_list > .btns .btn:hover {
    background-color: aqua;
}

#myf_list > .btns .btn:active {
    background-color: deepskyblue;
}