<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KH-MEETYOURFAMILY</display-name>
  
  <!-- DBCP(Database Connection Pool -->
  <resource-ref>
  	<description>Oracle Datasource</description><!-- 리소스 설명 -->
  	<res-ref-name>jdbc/myOracle</res-ref-name><!-- 리소스 이름(JNDI명)  -->
  	<res-type>javax.sql.DataSource</res-type><!-- 리턴Type -->
  	<res-auth>Container</res-auth><!-- 관리계층 -->
  </resource-ref>

  
  <!-- Servlet 회원가입 -->
  <servlet>
  	<servlet-name>memberServlet</servlet-name>
  	<servlet-class>com.join.MemberServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>memberServlet</servlet-name>
  	<url-pattern>/join/*</url-pattern>
  </servlet-mapping>

</web-app>
